main {
    margin: 10%;
}
.title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
}
.date {
    margin: 0;
    color: rgb(var(--gray));
}

@media screen and (max-width: 767px) {
main {
    padding-top: 10%;
}
}
